{% extends "layout.html" %}


{% block body %}
    <h1 class="page-title">All courses</h1>
    {% if message %}
        <div class="message">
            {{ message }}
        </div>
    {% endif %}
    <div class="courses">
        {% for course in courses %}
            <div class="course">
                <div class="course-subject">{{ course.get_subject_display }}</div>
                {% if course.description %}
                    <div class="course-description">{{ course.description }}</div>
                {% endif %}
                <div class="course-teacher">{{ course.teacher }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}