{% extends "layout.html" %}
{% load filters %}

{% block body %}

    <div class="course-page-div">
        
        {% if course.image %}
            <img class="course-page-image" src="{{ course.image.url }}">
        {% else %}
            <img class="course-page-image" src="../media/images/thumbnail_1.png">
        {% endif %}

        <div class="course-page-text">

            <h1 class="course-page-title">
                {{ course.title }}
            </h1>
    
            <div class="course-page-description">
                {{ course.description }}    
            </div>

            <div class="course-page-teacher">
                Taught by: <a class="hide-link" href="{% url 'profile' user_id=course.teacher.user.id %}">{{ course.teacher }}</a>
            </div> 

            <div class="course-page-tags">
                {% for tag in course.tags.all %}
                    <div class="tag">
                        {{ tag.get_name_display }}
                    </div>
                {% endfor %}
            </div>

        </div>

    </div>

    <a class="hide-link" href="{% url 'enrollment' course_id=course.id %}">
        <button class="enrollment-button">
            {% if course in request.user.student_by_user.first.courses.all %}
                Unernroll
            {% else %}
                Enroll
            {% endif %}
        </button>
    </a>

    <h2 class="page-title">Reviews</h2>
    <div class="reviews">
        {% for review in reviews %}
            <div class="review">
                <div class="review-rating">
                    {% for star in 0|range:review.rating %}
                        <i class="bi bi-star-fill"></i>
                    {% endfor %}
                </div>
                <div class="review-author">
                    {% if review.author.user.image %}
                        <img src="{{ review.author.user.image.url }}" class="review-author-image">
                    {% endif %}
                    <div class="review-author-text">
                        {{ review.author.user.name }}
                        {{ review.created }}
                    </div>
                </div>
                <div class="review-text">
                    {{ review.text }}
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}