{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <title>Tasks</title>
</head>
<body>
    <div class="navbar">
        <div class="nav-items-left">
            <div class="nav-item">
                <a href="{% url 'index' %}">Home</a>
            </div>
            <div class="nav-item">
                {% if request.user.role == "TC" %}
                    <div class="nav-item-button" onclick="toggleTaskDialog()">
                        New Task
                    </div>
                {% elif request.user.role == "ST" %}
                    <a href="#">My Tasks</a>
                {% endif %}
            </div>
            <div class="nav-item">
                <a href="#">3</a>
            </div>
        </div>
        <div class="nav-items-right">
            {% if request.user.is_authenticated %}
                <div class="nav-item">
                    <a href="{% url 'logout' %}">Log Out</a>
                </div>
            {% else %}
                <div class="nav-item">
                    <a href="{% url 'login' %}">Log In</a>
                </div>
                <div class="nav-item">
                    <a href="{% url 'register' %}">Register</a>
                </div>
            {% endif %}
        </div>
    </div>
    {% block body %}
    {% endblock %}
</body>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{% static 'index.js'%}"></script>
</html>