{% extends "layout.html" %}


{% block body %}
    <h1>
        {% if request.user.role == "TC" %}
            All tasks
        {% elif request.user.role == "ST" %}
            My tasks
        {% endif %}
    </h1>
    <div class="tasks">
        {% for task in tasks.all %}
            <div class="task">
                <div class="task-subject">{{ task.course.get_subject_display }}</div>
                <div class="task-text">{{ task.text }}</div>
                <div class="task-time-left">{{ task.time_left }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}