:root {
    --background-color: gray;
    --text-color: black;
    --border-color: black;
    --secondary-text-color: gray;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

input:focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea:focus {
    outline: none;
}

select {
    background-color: transparent;
    border: 1px solid var(--border-color);
    padding: 5px 10px;
    border-radius: 5px;
}

select:focus {
    outline: none;
}

.hide-link {
    color: var(--text-color);
    text-decoration: none;
}

.page-title {
    padding: 1rem;
}

.form-button {
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px 15px;
}

.task-form-div {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.task-form-div > button {
    margin-top: 1rem;
}

#task-form {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

#task-form > textarea {
    grid-column: span 2;
}

.flatpickr-wrapper > input {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
}

.login-form-wrapper {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.login-form > input {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 15px 10px;
    width: calc(100% + 50px);
}

.registration-form-wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration-form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.registration-form-grid > input {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 15px 10px;
}

.registration-form > select {
    margin-top: 20px;
}

.registration-form > button {
    margin-top: 20px;
}

.tasks {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1rem;
    padding: 0rem 1rem;
}

.task {
    padding: 1rem;
    font-size: 1.2rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

#newtask {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.task-text {
    padding: 1rem 0rem;
}

.task-time-left {
    font-size: 1rem;
    color: var(--secondary-text-color);
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1rem;
    padding: 0rem 1rem;
}

.course-grid {
    padding: 1rem;
    font-size: 1.2rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.course-grid-image {
    max-width: 5rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
}

.course-grid-text {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.course-grid-title {
    font-size: 1.5rem;
}

.course-grid-tags {
    display: flex;
    flex-direction: row;
}

.course-grid-tag {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.errorlist {
    list-style-type: none;
}

.course-page-div {
    margin: 1rem;
    display: flex;
    flex-direction: row;
}

.course-page-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.course-page-image {
    max-height: 20rem;
    border-radius: 15px;
}

.course-page-title {
    margin-left: 1rem;
}

.course-page-description {
    margin: 0px 1rem;
    font-size: 1.25rem;
}

.course-page-teacher {
    margin: 0px 1rem;
}

.course-page-tags {
    display: grid;
    margin: 0 1rem;
}

.enrollment-button {
    box-shadow: none;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 1rem 1rem;
}

.profile {
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem;
}

.profile-image {
    max-width: 10rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
}

.profile-text {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.profile-text-name {
    font-size: 2rem;
}

.profile-text-bio {
    font-size: 1.5rem;
    color: var(--secondary-text-color);
}

.course-form-div {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.course-form-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.course-form-title > h1 {
    text-align: center;
}

.course-form-title-input-div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    height: fit-content;
    align-items: center;
}

.course-form-title-input {
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.course-form-description {
    display: none;
}

.course-form-image {
    display: none;
}

.course-form-tags {
    display: none;
    flex-direction: column;
}

.course-form-tags > h1 {
    text-align: center;
}

#course-form-button {
    display: none;
} 

.bi.bi-arrow-right-square-fill {
    font-size: 2.25rem;
}

#course-form {
    margin-bottom: 4.5rem;
}

.tags-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: fit-content;
}

.tag.active {
    border: 1px solid white;
    background-color: gray;
    color: white;
}

.course-form-tags-input-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.course-form-tags-input-div > input {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    font-size: 1.25rem;
    padding: .25rem .5rem;
}

.course-form-tags-input-div > button {
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: .5rem 1rem;
}
