:root {
    --background-color: gray;
    --text-color: black;
    --border-color: black;
    --secondary-text-color: gray;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

input:focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea:focus {
    outline: none;
}

select {
    background-color: transparent;
    border: 1px solid var(--border-color);
    padding: 5px 10px;
    border-radius: 5px;
}

select:focus {
    outline: none;
}

.hide-link {
    color: var(--text-color);
    text-decoration: none;
}

.page-title {
    padding: 1rem;
}

.form-button {
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px 15px;
}

.task-form-div {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.task-form-div > button {
    margin-top: 1rem;
}

#task-form {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

#task-form > textarea {
    grid-column: span 2;
}

.flatpickr-wrapper > input {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
}

.login-form-wrapper {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.login-form > input {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 15px 10px;
    width: calc(100% + 50px);
}

.registration-form-wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration-form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.registration-form-grid > input {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 15px 10px;
}

.registration-form > select {
    margin-top: 20px;
}

.registration-form > button {
    margin-top: 20px;
}

.tasks {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1rem;
    padding: 0rem 1rem;
}

.task {
    padding: 1rem;
    font-size: 1.2rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

#newtask {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.task-text {
    padding: 1rem 0rem;
}

.task-time-left {
    font-size: 1rem;
    color: var(--secondary-text-color);
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1rem;
    padding: 0rem 1rem;
}

.course {
    padding: 1rem;
    font-size: 1.2rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.errorlist {
    list-style-type: none;
}

.course-page-description {
    margin: 0px 1rem;
    font-size: 1.25rem;
}

.course-page-teacher {
    margin: 0px 1rem;
}

.enrollment-button {
    box-shadow: none;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 1rem 1rem;
}

.profile {
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem;
}

.profile-image {
    max-width: 10rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
}

.profile-text {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.profile-text-name {
    font-size: 2rem;
}

.profile-text-bio {
    font-size: 1.5rem;
    color: var(--secondary-text-color);
}

